body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dcffcc;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #baabda;
    height: 50px;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #d79abc;
    color: black;
  }

  div.slavesInfo{
    position: absolute;
    width: 40%;
    top: 80px;
    right: 50px;
    background-color: white;
  }

  div.slavesReview{
    position: absolute;
    width: 40%;
    top: 80px;
    right: 50px;
    background-color: white;
  }

  div.slavesInfoPage{
    position: absolute;
    width: 40%;
    top: 80px;
    right: 50px;
    border: 3px solid black;    
  }

  div.mapCanvas{    
    height: 100%;
    width: 50%;
    position: absolute;
    top: 80px;
    left: 50px;
    border: 3px solid black;
  }

  a.slaveCard{
    position: relative;
    height: 200px;
    width: 100%;
    border: 3px solid black;
    background-color: white;
  }

  table.bbb{
      width: 100%;
  }

  table.bbb td{
    width: 100%;
    height: 150px;
    border: 3px solid black;
    padding:10px;
  }

  .slavesTable { 
    border-collapse:separate; 
    border-spacing:0 15px;     
}
 
   a.imageLink{
       position: relative;
    border: 3px solid black;
    width: 100px;
    height: 100px;
   }

   /* table.infoPage {
    border-collapse: collapse;
  }
  
  table.infoPage, th, td {
    border: 1px solid black;
    text-align: left;
  } */

  .tg  {border-collapse:collapse;border-spacing:0;width:80%;height: 20%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}

table.punishTable{
  border-collapse:collapse;
  border-spacing:0;
  height: 100px;
  border-spacing: 5px 10px;
  width: 100%;
  
}

table.reviewTable{
  width: 100%;
}

table.punishTable td{
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  border-color:black; 
}

div.Market{
  margin-top: 20px;
  width: 80%;
  border: 3px solid black;
  background-color: white;
}

div.MarketPage{
  margin-top: 30px;
  margin-left: 30px;
  width: 40%;  
  border: 3px solid black;
  background-color: #9fdfcd;
}

div.MarketPageInfo{
  position: absolute;
  width: 40%;
  top: 80px;
  right: 50px;
  border: 3px solid black;
}

table.infoTable{
  border-collapse:collapse;
  border-spacing:0;
  height: 100px;
  border-spacing: 5px 10px;
  width: 60%;
}

.tgMap  {border-collapse:collapse;width:100%;border-width:0px}
.tgMap td{font-family:Arial, sans-serif;font-size:20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tgMap th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;border-width:0px;border-style:solid;overflow:hidden;word-break:normal;border-color:black;}
.tgMap .tg-0laxMap{text-align:left;vertical-align:top;border-width:0px}

div.log-form{
  position: fixed;
  left: 40%;
  top: 20%;
  width: 350px;
	height: 400px; 
  border: 3px solid black;
  text-align:center;
  font-size:20px
}

.center{
  margin:auto;
}

.invisible{
  color: #baabda;
}

.logo{
  position: absolute;
  top: 0;
  right: 0;
}

.loginLogo{
  position: fixed;
  left: 40%;
  width: 356px;
	height: 152px; 
}